{{#each postInfo}}
<section class="card">
    <section class="post">
        <img src="" alt="">
        <section class="post-info">
            <ul class="post-list">
                <li class="post-item" id="name">Name: {{username}}</li>
                <li class="post-item" id="city">City: {{this.city.city_name}}</li>
                <li class="post-item" id="gym">Gym: {{this.gym.gym_name}}</li>
                <li class="post-item" id="workout">Workout: {{this.workout.workout_name}}</li>
                <li class="post-item" id="email">Contact them: {{this.email}}</li>
            </ul>
        </section>
    </section>
</section>
{{/each}}